:root {
  --gray0: #202020;
  --gray1: #383838;
  --gray2: #eee0e0;
  --gray3: #fffdfd;
  --body-font-size: 1rem;
}

.light-theme {
  --bg: var(--gray3);
  --bg-alt: var(--gray2);
  --fg: var(--gray0);
}

.dark-theme{
  --bg: var(--gray0);
  --bg-alt: var(--gray1);
  --fg: var(--gray3);
}

.bigger-text {
  font-size: 2em;
}

.color-transition {
  transition: background 300ms ease-in-out, color 200ms ease-in-out;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Playfair Display', serif;
}

#lorem-ipsum {
  line-height: 1.5;
  font-size: var(--body-font-size);
  letter-spacing: .03em;
  max-width: 39rem;
  margin: 8rem auto auto auto;
}

@media (max-width: 600px) {
  #lorem-ipsum {
    margin-top: .1rem;
  }
}

button#theme-switcher {
  background-color: transparent;
  border: none;
  color: var(--fg);
  font-size: 1.5rem;
  margin: .5rem;
  padding: .2rem;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

button#theme-switcher:hover {
  background-color: var(--bg-alt);
}

